<section class="first-screen">
	<div class="container">
		<div class="animated-block"></div>
		<h1 class="template-title">Тестовое задание</h1>
		<p class="template-description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
			veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			commodo consequat.
		</p>
		<div class="row-wrapper">
			<div class="slider-wrapper">
				<div class="slider-template template-row">
					<div class="slick-item">
						<img
							src="assets/img/image-1.png"
							alt="picture"
							class="slider-img"
						/>
					</div>
					<div class="slick-item">
						<img
							src="assets/img/image-2.png"
							alt="picture"
							class="slider-img"
						/>
					</div>
					<div class="slick-item">
						<img
							src="assets/img/image-3.png"
							alt="picture"
							class="slider-img"
						/>
					</div>
					<div class="slick-item has-text">
						<img
							src="assets/img/image-4.png"
							alt="picture"
							class="slider-img has-text"
						/>
						<p class="description-over-img">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam.
						</p>
					</div>
					<div class="slick-item has-text">
						<img
							src="assets/img/image-5.png"
							alt="picture"
							class="slider-img has-text"
						/>
						<p class="description-over-img">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam.
						</p>
					</div>
					<div class="slick-item has-text">
						<img
							src="assets/img/image-6.png"
							alt="picture"
							class="slider-img"
						/>
						<p class="description-over-img">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam.
						</p>
					</div>
				</div>
				<div class="arrows-container"></div>
			</div>
			<p class="vertical-text">Lorem ipsum dolor sit a</p>
		</div>
	</div>
</section>
